.single-product-main{
    margin-left: 100px;
    
}

.layout{
    max-width: 1200px;
    margin-top: 60px;
    margin-left: 20px;

}

.single-product-page{
    display: flex;
    flex-direction: row;
}

.left-p{
    width: 300px;
    height: 300px;
    z-index: 100;

}

.left-p img{
    width: 150%;
    display: block;
}

.right-p{
    margin-left: 200px;
    width: 500px;
    margin-top: 10px;
}

.name{
    
    color: #FFF;
    font-family: Inter;
    font-size: 56px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.real-price{
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 30px;
    text-decoration: line-through;
    
}

.size{
    color: #FFF;
    font-family: Poppins;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 30px;
}

.size-btn{
    display: flex;
    flex-direction:row;
    gap: 30px;
}

.btn{
    margin-left: 10px;
    background-color: black;
    color: white;
    padding: 2px 5px;
    border: none;
    cursor: pointer;
}

.size-guide{
    color: #FFF;
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 20px;
}

.quantity-btn{
    color: #FFF;
    width: fit-content;
    display: flex;
    border: 2px solid ;
    margin-right: 10px;
    height: 50px;
    margin-top: 20px;
}

.quantity-btn span{
    font-size: 18px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:nth-child(1){
        border-right: 2px solid white;
    }

    &:nth-child(2){
        width: 60px;
    }

    &:nth-child(3){
        border-left: 2px solid white;
    }

}

.add-to-cart{
    outline: 0;
    border: 2px solid white;
    height: 50px;
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: black;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    border-radius: 40px;
    z-index: 99;

}

.style-num{
    color: #FFF;
    font-family: Poppins;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 1px;
}

.discount-price{
    color: #CF1733;
    font-family: Poppins;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

.color{
    color: #FFF;
    font-family: Poppins;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 25px;
    cursor: pointer;

}

.colors{
    display: flex;
    flex-direction: row;
    margin-top: 18px;
    gap: 40px;
 
    
}

.red{
    height: 50px;
    width: 50px;
    background-color: red;
    border-radius: 50%;
    z-index: 99;
    cursor: pointer;
}

.orange{
    height: 50px;
    width: 50px;
    background-color: orange;
    border-radius: 50%;
    z-index: 99;
    cursor: pointer;
    
}

.blue{
    height: 50px;
    width: 50px;
    background-color: blue;
    border-radius: 50%;
    z-index: 99;
    cursor: pointer;
}

.black{
    height: 50px;
    width: 50px;
    background-color: #232323;
    border-radius: 50%;
    z-index: 99;
    cursor: pointer;
}

.cart-btn{
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    gap: 60px;
}

.buy-now{
    outline: 0;
    border: 2px solid white;
    height: 50px;
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: black;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    border-radius: 40px;
    z-index: 99;
    
}

.product-image-list{
    display: flex;
    flex-direction: row;
    gap: 16px;
    width: 20px;
    margin-left: 130px;
    margin-top: 20px;
   
}

.product-image-list img{
    background-color: rgba(181, 174, 174, 0.1);
    border: 1px solid white;
    padding-top: 2px;
    padding-bottom: 2px;
    cursor: pointer;

}

@media screen and (max-width: 1040px){
    .single-product-page{
        flex-direction: column;
    }

    .single-product-main{
        margin-left: 10px;
    }

    .left-p{
        width: 200px;
        height: 200px;
        z-index: 1;
        margin-left: 70px;
        margin-bottom: 60px;
    
    }

    .right-p{
        margin-left: 100px;
        width: 300px;
        margin-top: 80px;
    }

    .name{
        font-size: 25px;
        
    }

    .price{
        font-size: 17px;
    }

   

}
